:root {
  --height: 100px;
  --width: 100px;
  --depth: 100px;

  --frontColor: hsla(0, 100%, 50%, 0.7);
  --backColor: hsla(120, 100%, 50%, 0.7);
  --leftColor: hsla(180, 100%, 50%, 0.7);
  --rightColor: hsla(60, 100%, 50%, 0.7);
  --topColor: hsla(240, 100%, 50%, 0.7);
  --bottomColor: hsla(300, 100%, 50%, 0.7);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 2;
  background-color: rgb(54, 66, 170);
}

.container {
  display: flex;
  flex-direction: row;
}

/* Cube */
.background__cube {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  perspective: 400px;
}

.cuboid {
  height: var(--height);
  width: var(--width);
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}
.cuboid .cube__side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cube__side {
  border: 1px solid black;
  position: absolute;
  transition: all 0.3s linear;
}

.cube__side:nth-of-type(1),
.cube__side:nth-of-type(2) {
  --coeficient: 0.5;
  background-color: var(--frontColor);
  height: var(--height);
  width: var(--width);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
    translate3d(0, 0, calc(var(--depth) * var(--coeficient)));
}

.cube__side:nth-of-type(2) {
  --coeficient: -0.5;
  background-color: var(--backColor);
}

.cube__side:nth-of-type(3),
.cube__side:nth-of-type(4) {
  --rotation: 90deg;
  background-color: var(--leftColor);
  height: var(--height);
  width: var(--depth);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotateY(var(--rotation))
    translate3d(0, 0, calc(var(--width) * -0.5));
}

.cube__side:nth-of-type(4) {
  --rotation: -90deg;
  background-color: var(--rightColor);
}

.cube__side:nth-of-type(5),
.cube__side:nth-of-type(6) {
  --rotation: -90deg;
  background-color: var(--topColor);
  height: var(--depth);
  width: var(--width);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotateX(var(--rotation))
    translate3d(0, 0, calc(var(--height) * -0.5));
}

.cube__side:nth-of-type(6) {
  --rotation: 90deg;
  background-color: var(--bottomColor);
}

/* Transforms */

.show--front {
  --rotation: 0deg;

  transform: rotateY(var(--rotation));
}
.show--back {
  --rotation: 180deg;
  transform: rotateY(var(--rotation));
}
.show--left {
  --rotation: 90deg;
  transform: rotateY(var(--rotation))
    translate3d(0, 0, calc(var(--width) * -0.5));
}
.show--right {
  --rotation: -90deg;
  transform: rotateY(var(--rotation))
    translate3d(0, 0, calc(var(--width) * -0.5));
}
.show--top {
  --rotation: -90deg;
  transform: rotateX(var(--rotation))
    translate3d(0, 0, calc(var(--height) * -0.5));
}
.show--bottom {
  --rotation: 90deg;
  transform: rotateX(var(--rotation))
    translate3d(0, 0, calc(var(--height) * -0.5));
}

/* Options */

.config {
  display: flex;
  flex-direction: column;
}

.radio--group p,
.number--group p,
label {
  color: rgb(240, 240, 240);
  font-size: 1.6rem;
  text-transform: capitalize;
}

.radio--group,
.number--group {
  background-color: hsla(240, 36%, 17%, 0.7);
  width: 300px;
  height: 350px;
}
.radio--group {
  display: grid;
  grid-template-columns: 30px auto;
  align-items: center;
}

.number--group {
  display: flex;
  flex-direction: column;
}

.title--radio {
  grid-column: 1/3;
}

.title--number {
  grid-column: 1/4;
}

.division {
  display: grid;
  align-items: center;
}

.size {
  color: rgb(240, 240, 240);
  margin: 0 1rem;
  padding: 0 1rem;
  font-size: 1.6rem;
  background-color: rgba(0, 0, 0, 0.336);
  width: 6rem;
  grid-column: 3/4;
}
